Repository FormulaMonks/scaffoldizr: changes, and which lint-staged commands are due for each by the changed paths.
All: bun biome ci, bun test:ci

[skip-ci]: Updated install script
  docs/assets/install.sh
Due: none

feat(general): updated issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  bun.lockb
  package.json
Due: bun biome ci

fix(dev-deps): update @types/bun to latest
  bun.lockb
  commitlint.config.cjs
  yarn.lock
Due: bun biome ci

chore(dev): added C4 DSL VsCode extension
  .mise.toml
  .vscode/extensions.json
  .vscode/settings.json
  architecture/workspace.dsl
Due: bun biome ci

fix(general): revert inquirer to v9
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .husky/pre-commit
  .mise.toml
  biome.json
  bun.lockb
  lib/main.ts
  lib/types.d.ts
  package.json
Due: bun biome ci, bun test:ci

ci(release): organized execution flow
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

ci(build): test and build on same step
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
  .github/workflows/test.yaml
Due: none

ci(build): test and build on push
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

ci(build): trying bun target flag
  .github/workflows/test-build.yaml
Due: none

ci(build): printing file status
  .github/workflows/test-build.yaml
Due: none

ci(build): downgraded bun version
  .mise.toml
Due: none

ci(build): changed to bun baseline target
  .github/workflows/test-build.yaml
  .mise.toml
Due: none

revert: bun version back to 1.0.36
  .github/workflows/test-build.yaml
  .mise.toml
Due: none

ci(build): fix bug for tags
  .husky/pre-push
  commitlint.config.cjs
  package.json
Due: bun biome ci

ci(build): reverted package.json version
  package.json
Due: bun biome ci

ci(build): commitlint config fixes
  commitlint.config.cjs
Due: bun biome ci

[skip-ci]: Bump version 0.2.7
  package.json
Due: bun biome ci

ci(build): github workflow config
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
Due: none

ci(build): changes to pre-push hook
  .husky/pre-push
Due: none

ci(build): reverted package.json version
  .github/workflows/release.yaml
  package.json
Due: bun biome ci

ci(build): platform name fix in release file
  package.json
  scripts/release.sh
Due: bun biome ci

ci(build): get version from package.json
  scripts/release.sh
Due: none

ci(build): bug from install script
  pkg/standalone/install.envsubst
Due: none

ci(build): bug from install script
  docs/assets/install.sh
Due: none

fix(build): bump version order
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
  .husky/pre-push
  commitlint.config.cjs
  package.json
Due: bun biome ci

chore(deps-dev): update Gemfile
  docs/Gemfile.lock
Due: none

fix(build): bump version order
  .github/workflows/release.yaml
Due: none

fix(build): added missing version in jq script
  .github/workflows/test-build.yaml
Due: none

fix(build): leveraged github-commit-action bot
  .github/workflows/test-build.yaml
Due: none

fix(build): attempt to fix version bump
  .github/workflows/test-build.yaml
Due: none

[skip ci]: Bump version
  package.json
Due: bun biome ci

fix(build): get latest bumped version on build
  .github/workflows/test-build.yaml
Due: none

Path conditions:
  bun biome ci: any of: *.{json,ts,js,cjs,mjs,mts,css}
  bun test:ci: any of: *.{ts,mjs}
