Repository FormulaMonks/scaffoldizr: changes, and which lint-staged commands are due for each by the changed paths.
All: bun biome ci, bun test:ci

fix(build): forced tag update after version bump
  .github/workflows/test-build.yaml
Due: none

[skip ci]: Bump version
  package.json
Due: bun biome ci

fix(build): forced tag update (no-verify) after version bump
  .github/workflows/test-build.yaml
Due: none

[skip-ci]: Updated install script
  docs/assets/install.sh
Due: none

fix(build): tag update after install script completed
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

[skip ci]: Updated install script
  docs/assets/install.sh
Due: none

fix(build): release directory empty
  .github/workflows/release.yaml
  scripts/release.sh
Due: none

fix(build): release directory empty (again)
  scripts/release.sh
Due: none

fix(build): checkout tags again to tag the release accordingly
  .github/workflows/release.yaml
Due: none

fix(build): removing tag update (was doing nothing)
  .github/workflows/release.yaml
Due: none

docs(release): fetching from main and not from tag
  .github/workflows/docs.yaml
Due: none

fix(release): typo in install script
  pkg/standalone/install.envsubst
Due: none

refactor(generators): implemented inquirer@10 for workspace generator
  bun.lockb
  lib/generators/index.ts
  lib/generators/workspace.ts
  lib/utils/generator.ts
  lib/utils/questions/validators.ts
  package.json
Due: bun biome ci, bun test:ci

refactor(generators): implemented inquirer@10 for constants generator
  lib/generators/constant.ts
  lib/templates/constant.hbs
  lib/utils/handlebars.ts
Due: bun biome ci, bun test:ci

refactor(generators): implemented inquirer@10 for views and systems
  lib/generators/container.ts
  lib/generators/external-system.ts
  lib/generators/person.ts
  lib/generators/system.ts
  lib/generators/view.ts
  lib/utils/generator.ts
  lib/utils/questions/relationships.test.ts
  lib/utils/questions/relationships.ts
  lib/utils/questions/system.ts
Due: bun biome ci, bun test:ci

refactor(generators): implemented inquirer@10 for person
  lib/generators/person.ts
  lib/generators/system.ts
  lib/utils/questions/relationships.ts
Due: bun biome ci, bun test:ci

feat(general): added option --export to leverage structurizr-cli export
  lib/main.ts
Due: bun biome ci, bun test:ci

refactor(generators): implemented inquirer@10 for external-systems
  lib/generators/container.ts
  lib/generators/external-system.ts
  lib/generators/person.ts
  lib/generators/system.ts
  lib/generators/view.ts
  lib/utils/questions/system.ts
  lib/utils/questions/validators.test.ts
  lib/utils/questions/validators.ts
  package.json
Due: bun biome ci, bun test:ci

refactor(generators): implemented inquirer@10 for containers
  lib/generators/container.ts
Due: bun biome ci, bun test:ci

refactor(generators): implemented inquirer@10 for relationships
  lib/generators/relationship.ts
  lib/utils/labels.ts
  lib/utils/questions/system.ts
Due: bun biome ci, bun test:ci

refactor(generators): added type safety and removed inquirer@9 dependency
  bun.lockb
  lib/generators/constant.ts
  lib/generators/container.ts
  lib/generators/external-system.ts
  lib/generators/person.ts
  lib/generators/relationship.ts
  lib/generators/system.ts
  lib/generators/view.ts
  lib/generators/workspace.ts
  lib/main.ts
  lib/utils/actions/add-many.ts
  lib/utils/actions/add.ts
  lib/utils/actions/append.ts
  lib/utils/actions/index.ts
  lib/utils/actions/utils.ts
  lib/utils/generator.test.ts
  lib/utils/generator.ts
  lib/utils/questions/relationships.test.ts
  lib/utils/questions/relationships.ts
  lib/utils/questions/system.ts
  lib/utils/questions/validators.test.ts
  lib/utils/questions/validators.ts
  package.json
Due: bun biome ci, bun test:ci

build(deps): upgrade to bun 1.1.20
  .github/workflows/test-build.yaml
  .mise.toml
Due: none

build(deps): included test script
  .github/workflows/test-build.yaml
Due: none

build(deps): upgrade mise tools
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

build(deps): use bun intended version
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

Path conditions:
  bun biome ci: any of: *.{json,ts,js,cjs,mjs,mts,css}
  bun test:ci: any of: *.{ts,mjs}
