Repository FormulaMonks/scaffoldizr: changes, and which lint-staged commands are due for each by the changed paths.
All: bun biome ci, bun test:ci

.lintstagedrc.json:

{
    "*.{json,ts,js,cjs,mjs,mts,css}": ["bun biome ci"],
    "*.{ts,mjs}": ["bun test:ci"]
}

fix(generators): catch error for error shell commands
  lib/generators/workspace.ts
Due: bun biome ci, bun test:ci

ci(build): fix github ref for branch PRs
  .github/workflows/test-build.yaml
Due: none

[skip ci]: Bump version
  package.json
Due: bun biome ci

[skip ci]: Updated install script
  docs/assets/install.sh
Due: none

feat(generators): wip: added support for components
  lib/generators/component.ts
  lib/generators/index.ts
  lib/generators/relationship.ts
  lib/main.ts
  lib/templates/bundle.ts
  lib/templates/components/component.hbs
  lib/templates/views/component.hbs
  lib/utils/labels.ts
  lib/utils/questions/relationships.ts
  lib/utils/questions/system.ts
  lib/utils/questions/validators.ts
  lib/utils/workspace.ts
Due: bun biome ci, bun test:ci

feat(generators): added generator files for components
  lib/generators/component.ts
  lib/templates/bundle.ts
  lib/templates/components/component.hbs
  lib/templates/relationships/multiple-unprocessed.hbs
  lib/templates/views/component.hbs
  lib/utils/questions/relationships.ts
Due: bun biome ci, bun test:ci

feat(generators): finish component implementation
  lib/generators/component.ts
  lib/generators/relationship.ts
  lib/templates/bundle.ts
  lib/templates/relationships/multiple-component.hbs
  lib/templates/relationships/multiple-unprocessed.hbs
  lib/utils/questions/relationships.ts
Due: bun biome ci, bun test:ci

fix(utils): fix typo
  lib/utils/questions/system.ts
Due: bun biome ci, bun test:ci

feat(build): tested compile on windows
  lib/main.ts
  lib/utils/actions/add.ts
  lib/utils/actions/append.ts
Due: bun biome ci, bun test:ci

feat(ci): added windows to build matrix
  .github/workflows/test-build.yaml
Due: none

fix(ci): used a different property for conditional steps
  .github/workflows/test-build.yaml
Due: none

fix(ci): typo in build
  .github/workflows/test-build.yaml
Due: none

fix(ci): ignored build scripts
  .github/workflows/test-build.yaml
Due: none

fix(ci): removed trailing slash for issues with tar on windows
  .github/workflows/test-build.yaml
Due: none

fix(ci): add comments for windows release package
  pkg/standalone/install.envsubst
  scripts/release.sh
Due: none

fix(ci): add file path for windows release
  scripts/release.sh
Due: none

fix(ci): added conditional for non-windows binary
  scripts/release.sh
Due: none

fix(utils): added support for groups
  lib/generators/component.ts
  lib/utils/questions/relationships.ts
  lib/utils/questions/system.ts
  lib/utils/questions/validators.ts
Due: bun biome ci, bun test:ci

ci(deps): ignore scripts for dependabot bunlock rebase
  .github/workflows/dependencies.yaml
Due: none

fix(deps): husky v9 updates
  package.json
  scripts/install-git-hooks.sh
Due: bun biome ci

fix(deps): ruby deps update
  docs/Gemfile.lock
Due: none

chore(deps-dev): update bunlock
  .husky/pre-push
  yarn.lock
Due: none

chore: updated vscode settings
  .vscode/settings.json
  architecture/workspace.json
Due: bun biome ci

fix(deps-dev): updated java version on mise tools
  .mise.toml
Due: none

chore(core): fixed settings in biome.json config
  .vscode/settings.json
  package.json
Due: bun biome ci

refactor: main module refactor to figure out e2e tests
  bun.lockb
  lib/main.ts
  package.json
Due: bun biome ci, bun test:ci

fix(deps): removed CancelablePromise type (removed from @inquirer/type)
  lib/utils/generator.ts
  lib/utils/questions/system.ts
Due: bun biome ci, bun test:ci

chore(deps-dev): security update: cross-spawn
  bun.lockb
  package.json
Due: bun biome ci
