Repository FormulaMonks/scaffoldizr: changes, and which lint-staged commands are due for each by the changed paths.
All: bun biome ci, bun test:ci

chore(deps-dev): removed additional reference of CancelablePromise
  lib/utils/generator.test.ts
Due: bun biome ci, bun test:ci

build(deps): bump cross-spawn from 7.0.3 to 7.0.6
  bun.lockb
  package.json
Due: bun biome ci

[skip ci]: Bump version
  package.json
Due: bun biome ci

[skip ci]: Updated install script
  docs/assets/install.sh
Due: none

test: added e2e test foundation
  .lintstagedrc.json
  bun.lockb
  bunfig.toml
  e2e/e2e.toml
  e2e/scfz.test.ts
  package.json
Due: bun biome ci, bun test:ci

test: added e2e tests
  e2e/scfz.test.ts
  lib/templates/containers/container.hbs
  lib/utils/labels.ts
  lib/utils/questions/system.ts
Due: bun biome ci, bun test:ci

fix: minor misconfigurations
  .vscode/settings.json
  package.json
Due: bun biome ci

fix: error with getAllWorkspaceElements
  lib/utils/questions/system.ts
Due: bun biome ci, bun test:ci

test(e2e): increase input timeout
  e2e/scfz.test.ts
Due: bun biome ci, bun test:ci

test: added structurizr-cli command as a configurable env variable
  e2e/scfz.test.ts
  lib/main.ts
  package.json
Due: bun biome ci, bun test:ci

test: changes to structurizr-cli path
  .mise.toml
  lib/main.ts
Due: bun biome ci, bun test:ci

ci(e2e): added github actions for e2e testing setup
  .github/workflows/e2e.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

ci(e2e): fix e2e action trigger
  .github/workflows/pr.yaml
Due: none

ci(e2e): download already compiled structurizr-cli binary
  .github/workflows/e2e.yaml
  .mise.toml
Due: none

ci(e2e): fix in downloaded path
  .github/workflows/e2e.yaml
Due: none

ci(e2e): increased e2e tests timeout
  package.json
Due: bun biome ci

ci(e2e): fixing windows compatibility issues
  .github/workflows/e2e.yaml
Due: none

ci(e2e): wrapping powershell code in try/catch
  .github/workflows/e2e.yaml
Due: none

ci(e2e): windows debugging
  .github/workflows/e2e.yaml
Due: none

ci(e2e): windows compatibility
  .github/workflows/e2e.yaml
Due: none

ci(e2e): commenting out windows compatibility (to do later)
  .github/workflows/e2e.yaml
Due: none

ci(e2e): fix windows tests
  .github/workflows/e2e.yaml
  lib/generators/component.ts
  lib/generators/container.ts
  lib/generators/relationship.ts
  package.json
Due: bun biome ci, bun test:ci

ci(e2e): fix windows tests
  .github/workflows/e2e.yaml
  e2e/scfz.test.ts
Due: bun biome ci, bun test:ci

ci(e2e): fix windows tests
  .github/workflows/e2e.yaml
Due: none

ci(e2e): improved error message for workspace creation
  lib/main.ts
Due: bun biome ci, bun test:ci

ci(e2e): increased e2e input timeout
  .github/workflows/e2e.yaml
  .husky/pre-commit
  e2e/scfz.test.ts
  lib/main.ts
Due: bun biome ci, bun test:ci

ci(e2e): configure java version 23
  .github/workflows/e2e.yaml
Due: none

ci(e2e): configure a previous version of structurizr-cli
  .github/workflows/e2e.yaml
Due: none

ci(e2e): log java version
  .github/workflows/e2e.yaml
Due: none

ci(e2e): refresh env to pick java changes
  .github/workflows/e2e.yaml
Due: none

ci(e2e): reconfigure setup-java
  .github/workflows/e2e.yaml
Due: none

ci(e2e): configure smoke to run on non-main branch
  .github/workflows/pr.yaml
Due: none

feat(generators): added .gitattributes file and flagged workspace.json as binary
  e2e/scfz.test.ts
  lib/generators/workspace.ts
  lib/templates/.gitattributes
  lib/templates/bundle.ts
  lib/types.d.ts
Due: bun biome ci, bun test:ci

chore: added peacock settings in editor
  .vscode/settings.json
Due: bun biome ci

chore: added customizations to vscode workspace
  .vscode/settings.json
Due: bun biome ci

ci: fixed ordering for release
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

Path conditions:
  bun biome ci: any of: *.{json,ts,js,cjs,mjs,mts,css}
  bun test:ci: any of: *.{ts,mjs}
