Repository FormulaMonks/scaffoldizr: changes, and which lint-staged commands are due for each by the changed paths.
All: bun biome ci, bun test:ci, bun test:e2e:smoke

[skip ci]: Bump version
  package.json
Due: bun biome ci

[skip ci]: Updated install script
  docs/assets/install.sh
Due: none

ci: reverted change and added trigger for main branch build
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
  package.json
Due: bun biome ci

ci: requiring e2e prior to release
  .github/workflows/release.yaml
Due: none

ci: organized deployment steps
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
  .husky/pre-commit
  e2e/scfz.test.ts
  package.json
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

ci: fixed typo
  .github/workflows/test-build.yaml
Due: none

ci: fixed missing checkout action
  .github/workflows/test-build.yaml
Due: none

ci: fixed workflow order
  .github/workflows/test-build.yaml
Due: none

ci: fixed workflow order
  .github/workflows/pr.yaml
  .github/workflows/test-build.yaml
Due: none

ci: added windows/linux version export as env var
  .github/workflows/e2e.yaml
  .github/workflows/test-build.yaml
Due: none

ci: fixed missing steps
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
Due: none

ci: added ref to checkout correct version
  .github/workflows/test-build.yaml
Due: none

feat: experimental support for bun in dependabot
  .github/dependabot.yaml
Due: none

Revert "build(deps): bump jdx/mise-action from 2 to 3"
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

feat(generators): added archetype support
  biome.json
  bun.lockb
  e2e/scfz.test.ts
  lib/generators/archetype.ts
  lib/generators/component.ts
  lib/generators/index.ts
  lib/generators/workspace.ts
  lib/main.ts
  lib/templates/archetypes/archetype.hbs
  lib/templates/bundle.ts
  lib/templates/workspace.hbs
  lib/utils/handlebars.ts
  lib/utils/labels.ts
  package.json
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat(generators): add baseType to archetype name in file
  e2e/scfz.test.ts
  lib/generators/archetype.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

docs: added copilot-instructions.md
  .github/copilot-instructions.md
Due: none

refactor: updated Scfz DSL arch docs
  architecture/archetypes/.gitkeep
  architecture/views/scaffoldizr.dsl
  architecture/workspace.dsl
  architecture/workspace.json
  lib/generators/relationship.ts
  lib/utils/questions/relationships.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

ci: updated bun and vscode settings
  .gitignore
  .mise.toml
  .vscode/extensions.json
  .vscode/settings.json
  test-setup.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

test: added tests for workspace util methods
  architecture/workspace.json
  lib/utils/workspace.test.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

refactor: added constants to labels for element types
  lib/main.ts
  lib/utils/labels.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat: added getWorkspaceElementFiles
  lib/utils/workspace.test.ts
  lib/utils/workspace.ts
  test/utils.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat(generator,templates): wip: added support for landscape scoped workspaces
  .husky/pre-commit
  .lintstagedrc.json
  e2e/scfz-softwaresystem.test.ts
  lib/generators/workspace.ts
  lib/templates/views/landscape.hbs
  lib/templates/workspace.hbs
  lib/utils/handlebars.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat(generator,templates): wip: added support for landscape scoped workspaces
  .husky/pre-commit
Due: none

chore: updated vscode settings
  .gitignore
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
Due: bun biome ci

refactor(generators): use elements enum for generator names
  lib/generators/archetype.ts
  lib/generators/component.ts
  lib/generators/constant.ts
  lib/generators/container.ts
  lib/generators/external-system.ts
  lib/generators/person.ts
  lib/generators/relationship.ts
  lib/generators/system.ts
  lib/generators/view.ts
  lib/generators/workspace.ts
  lib/utils/labels.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat: wip: added filter for elements in different workspace scopes
  .husky/pre-push
  e2e/scfz-softwaresystem.test.ts
  lib/main.ts
  lib/templates/bundle.ts
  lib/utils/workspace.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

chore: update @types/bun dependency
  bun.lockb
  package.json
Due: bun biome ci

fix(main): handle ExitPromptError (SigInt)
  lib/generators/container.ts
  lib/generators/external-system.ts
  lib/generators/person.ts
  lib/generators/system.ts
  lib/generators/workspace.ts
  lib/main.ts
  lib/templates/system/system.hbs
  lib/templates/workspace.hbs
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

fix: logic for SoftwareSystem workspace scope
  e2e/scfz-softwaresystem.test.ts
  lib/generators/container.ts
  lib/generators/relationship.ts
  lib/generators/system.ts
  lib/generators/view.ts
  lib/templates/system/system.hbs
  lib/templates/views/component.hbs
  lib/templates/views/container.hbs
  lib/utils/questions/system.ts
  lib/utils/workspace.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

docs: added usage details
  architecture/docs/02-getting-started.md
  architecture/docs/03-usage.md
Due: none

fix(templates): import type for sh files
  lib/templates/bundle.ts
  lib/utils/actions/add.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

test: refactor e2e order to support landscape workspace scope
  e2e/scfz-general.test.ts
  e2e/scfz-landscape.test.ts
  e2e/scfz-softwaresystem.test.ts
  lib/generators/external-system.ts
  lib/generators/person.ts
  lib/utils/questions/system.ts
  test/io.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat(generators): added archetype inheritance
  e2e/scfz-softwaresystem.test.ts
  lib/generators/archetype.ts
  lib/templates/archetypes/archetype.hbs
  lib/utils/questions/archetypes.ts
  lib/utils/questions/relationships.ts
  lib/utils/questions/utils.test.ts
  lib/utils/questions/utils.ts
  lib/utils/workspace.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat(generators): filtered archetypes per workspace scope
  lib/utils/questions/archetypes.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

Path conditions:
  bun biome ci: any of: *.{json,ts,js,cjs,mjs,mts,css}
  bun test:ci: any of: *.{ts,mjs}
  bun test:e2e:smoke: any of: *.{ts,mjs}
