Repository FormulaMonks/scaffoldizr: changes, and which lint-staged commands are due for each by the changed paths.
All: bun biome ci, bun test:ci, bun test:e2e:smoke

.lintstagedrc.json:

{
    "*.{json,ts,js,cjs,mjs,mts,css}": ["bun biome ci"],
    "*.{ts,mjs}": ["bun test:ci", "bun test:e2e:smoke"]
}

feat: added archetype correct questions
  lib/generators/archetype.ts
  lib/templates/archetypes/archetype.hbs
  lib/utils/questions/archetypes.test.ts
  lib/utils/questions/archetypes.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat: capture sigint from workspace process
  lib/main.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat: implemented archetype relationships
  lib/generators/component.ts
  lib/generators/container.ts
  lib/generators/external-system.ts
  lib/generators/person.ts
  lib/generators/relationship.ts
  lib/generators/system.ts
  lib/templates/archetypes/archetype.hbs
  lib/templates/relationships/multiple-component.hbs
  lib/templates/relationships/multiple.hbs
  lib/utils/generator.ts
  lib/utils/questions/archetypes.test.ts
  lib/utils/questions/archetypes.ts
  lib/utils/questions/relationships.ts
  lib/utils/workspace.test.ts
  lib/utils/workspace.ts
  test/utils.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

test: wip: added e2e tests for archetypes
  e2e/scfz-archetypes.test.ts
  e2e/scfz-landscape.test.ts
  e2e/scfz-softwaresystem.test.ts
  lib/generators/container.ts
  lib/utils/workspace.test.ts
  test/workspace.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

test(e2e): wip: increased archetypes test coverage
  e2e/scfz-archetypes.test.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat(generators): added support for system archetypes
  e2e/scfz-archetypes.test.ts
  e2e/scfz-landscape.test.ts
  lib/generators/archetype.ts
  lib/generators/external-system.ts
  lib/generators/system.ts
  lib/templates/system/external.hbs
  lib/templates/system/system.hbs
  lib/utils/questions/archetypes.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat(generators): added support for container archetypes
  e2e/scfz-archetypes.test.ts
  lib/generators/archetype.ts
  lib/generators/container.ts
  lib/generators/system.ts
  lib/templates/containers/container.hbs
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat(generators): added support for component archetypes
  e2e/scfz-archetypes.test.ts
  e2e/scfz-softwaresystem.test.ts
  lib/generators/component.ts
  lib/generators/container.ts
  lib/generators/external-system.ts
  lib/templates/components/component.hbs
  lib/templates/containers/container.hbs
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

fix(generators): error in component generation
  .husky/pre-push
  lib/generators/component.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

test(e2e): readd smoke tag to test
  e2e/scfz-softwaresystem.test.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

fix: addressed Copilot comments
  lib/utils/generator.ts
  lib/utils/questions/relationships.ts
  lib/utils/workspace.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

chore: revert version bump
  package.json
Due: bun biome ci

ci: update mise and structurizr versions
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

ci: update bun version
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

ci: fix structurizr version
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

ci: fix structurizr version and revert mise version
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
Due: none

ci: fix bump-version command
  .github/workflows/test-build.yaml
Due: none

ci: fix update install script
  .github/workflows/release.yaml
Due: none

[skip ci]: Bump version
  package.json
Due: bun biome ci

[skip ci]: Updated install script
  docs/assets/install.sh
Due: none

ci: fix mise tools version in docs workflow
  .github/workflows/docs.yaml
Due: none

chore: update bun to 1.3.3
  .github/workflows/e2e.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .github/workflows/test-build.yaml
  .mise.toml
  biome.json
  bun.lock
  bun.lockb
  package.json
  yarn.lock
Due: bun biome ci

docs(architecture): added component definitions
  architecture/components/scaffoldizr/scfz.dsl
  architecture/containers/scaffoldizr/scfz.dsl
  architecture/relationships/_system.dsl
  architecture/views/scaffoldizr.dsl
  architecture/workspace.dsl
  architecture/workspace.json
Due: bun biome ci

fix(utils): removed empty groups from relationship choices
  lib/utils/questions/relationships.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

docs: added Scaffoldizr themes
  architecture/docs/06-themes.md
  architecture/workspace.json
  docs/assets/scaffoldizr-green.json
  docs/assets/scaffoldizr-red.json
  docs/assets/scaffoldizr-shapes.json
  docs/assets/scaffoldizr-status.json
  docs/assets/scaffoldizr-yellow.json
  docs/index.md
  docs/pages/06-themes.md
Due: bun biome ci

test: fix flag on bun test
  package.json
Due: bun biome ci

test: fix test with more lax expectation
  lib/utils/workspace.test.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

docs: added theme screenshots
  architecture/docs/06-themes.md
  architecture/workspace.dsl
  architecture/workspace.json
  docs/assets/scaffoldizr-green.png
  docs/assets/scaffoldizr-red.png
  docs/assets/scaffoldizr-shapes.png
  docs/assets/scaffoldizr-status.png
  docs/assets/scaffoldizr-yellow.png
Due: bun biome ci

chore: regenerate workspace.json
  architecture/workspace.json
Due: bun biome ci

docs: update markdown format
  architecture/docs/06-themes.md
Due: none

feat(generators): added available themes to workspace generator
  .husky/pre-commit
  .lintstagedrc.json
  lib/generators/workspace.ts
  lib/templates/workspace.hbs
  test/workspace.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

feat: updates on status theme
  LICENSE
  docs/assets/scaffoldizr-status.json
Due: bun biome ci

feat: add Scaffoldizr Agent Skill
  .claude/skills/scaffoldizr/LICENSE
  .claude/skills/scaffoldizr/SKILL.md
  .claude/skills/scaffoldizr/elements/archetype.md
  .claude/skills/scaffoldizr/elements/component.md
  .claude/skills/scaffoldizr/elements/constant.md
  .claude/skills/scaffoldizr/elements/container.md
  .claude/skills/scaffoldizr/elements/externalSystem.md
  .claude/skills/scaffoldizr/elements/person.md
  .claude/skills/scaffoldizr/elements/relationship.md
  .claude/skills/scaffoldizr/elements/softwareSystem.md
  .claude/skills/scaffoldizr/elements/view.md
  .claude/skills/scaffoldizr/examples/archetypes/1_http_relationship.dsl
  .claude/skills/scaffoldizr/examples/archetypes/2_container_container.dsl
  .claude/skills/scaffoldizr/examples/archetypes/3_softwareSystemExample_system.dsl
  .claude/skills/scaffoldizr/examples/archetypes/4_componentExample_component.dsl
  .claude/skills/scaffoldizr/examples/components/nodejs-app.dsl
  .claude/skills/scaffoldizr/examples/containers/database.dsl
  .claude/skills/scaffoldizr/examples/containers/test-system.dsl
  .claude/skills/scaffoldizr/examples/people/_people.dsl
  .claude/skills/scaffoldizr/examples/relationships/_people.dsl
  .claude/skills/scaffoldizr/examples/relationships/_system.dsl
  .claude/skills/scaffoldizr/examples/softwareSystems/_external.dsl
  .claude/skills/scaffoldizr/examples/softwareSystems/_system.dsl
  .claude/skills/scaffoldizr/examples/softwareSystems/test-system.dsl
  .claude/skills/scaffoldizr/examples/views/component.dsl
  .claude/skills/scaffoldizr/examples/views/container.dsl
  .claude/skills/scaffoldizr/examples/views/dynamic.dsl
  .claude/skills/scaffoldizr/examples/views/system-context.dsl
  .claude/skills/scaffoldizr/examples/views/system-landscape.dsl
  .claude/skills/scaffoldizr/extra/CLI.md
  .claude/skills/scaffoldizr/extra/TAGS.md
  .gitignore
  AGENTS.md
Due: none

feat: added non-interactive commands for AI Agents
  README.md
  e2e/scfz-non-interactive.test.ts
  lib/generators/archetype.ts
  lib/generators/component.ts
  lib/generators/constant.ts
  lib/generators/container.ts
  lib/generators/external-system.ts
  lib/generators/person.ts
  lib/generators/relationship.ts
  lib/generators/system.ts
  lib/generators/view.ts
  lib/generators/workspace.ts
  lib/main.ts
  lib/templates/containers/container.hbs
  lib/templates/decisions/.gitkeep
  lib/utils/prompts.test.ts
  lib/utils/prompts.ts
  tsconfig.json
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

docs: added ADR and public facing docs
  .gitignore
  architecture/decisions/0002-ai-agent-and-non-interactive-mode.md
  architecture/docs/03-usage.md
  architecture/docs/07-ai-agent.md
  docs/.gitignore
  docs/index.md
  docs/pages/07-ai-agent.md
  package.json
Due: bun biome ci

fix(utils): sorting archetype elements to avoid file system discrepancies
  lib/utils/workspace.test.ts
  lib/utils/workspace.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

fix: addressed PR comments
  .claude/skills/scaffoldizr/SKILL.md
  .claude/skills/scaffoldizr/elements/externalSystem.md
  .claude/skills/scaffoldizr/elements/person.md
  .claude/skills/scaffoldizr/examples/containers/test-system.dsl
  README.md
  architecture/docs/03-usage.md
  biome.json
  lib/generators/component.ts
  lib/generators/relationship.ts
  lib/utils/actions/add-many.test.ts
  lib/utils/actions/add-many.ts
  lib/utils/actions/add.test.ts
  lib/utils/actions/append.test.ts
  lib/utils/actions/append.ts
  lib/utils/generator.ts
  lib/utils/prompts.test.ts
  lib/utils/prompts.ts
  lib/utils/questions/archetypes.test.ts
  lib/utils/questions/archetypes.ts
  lib/utils/questions/relationships.test.ts
  lib/utils/questions/relationships.ts
  lib/utils/questions/system.ts
  lib/utils/questions/utils.test.ts
  lib/utils/questions/utils.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke

fix: addressed PR comments
  architecture/docs/07-ai-agent.md
  lib/main.ts
  lib/utils/questions/archetypes.test.ts
  lib/utils/questions/relationships.test.ts
Due: bun biome ci, bun test:ci, bun test:e2e:smoke
